// 넓이 높이 잡기
@mixin wh($width:100%, $height:100%) {
    $width: if(unitless($width), #{$width}px, $width);
    $height: if(unitless($height), #{$height}px, $height);

    width: $width;
    height: $height;
}
// 포지션 잡기
@mixin pos($top: 0, $left: 0) {
    position: absolute;
    @if(type-of($top) == number && type-of($left) == number) {
        top: #{$top}px;
        left: #{$left}px;
    }
}
// 중앙정렬
@mixin pos-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}
@mixin pos-center-x {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%,0,0);
}
@mixin pos-center-y {
    position: absolute;
    top: 50%;
    transform: translate3d(0,-50%,0);
}
// 백그라운드 포지션 잡기
@mixin bgpos($left:0, $top:0)  {
    $top : if(type-of($top) == number, #{$top}px, $top);
    $left : if(type-of($left) == number, #{$left}px, $left);

    background-position: $top $left;
}