body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
html,body,input,textarea,select,button,table{font-family:'Noto Sans KR','나눔고딕','돋움',Dotum,AppleGothic,sans-serif;} 
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}
input[type=text]::-ms-clear{display:none}
.blind{display:block;width:0;height:0;margin:0;padding:0;line-height:0;font-size:0;overflow:hidden;}
.slick-slider{position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}.slick-list:focus{outline: none;}.slick-list.dragging{cursor: pointer;cursor: hand;}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}.slick-track{position: relative;top: 0;left: 0;display: block;margin-left: auto;margin-right: auto;}.slick-track:before,.slick-track:after{display: table;content: '';}.slick-track:after{clear: both;}.slick-loading .slick-track{visibility: hidden;}.slick-slide{display: none;float: left;height: 100%;min-height: 1px;}[dir='rtl'] .slick-slide{float: right;}.slick-slide img{display: block;}.slick-slide.slick-loading img{display: none;}.slick-slide.dragging img{pointer-events: none;}.slick-initialized .slick-slide{display: block;}.slick-loading .slick-slide{visibility: hidden;}.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}.slick-arrow.slick-hidden {display: none;}
.slick-slide,.slick-slide a{outline:none;}
.jq_band_api img {display:none;}
button {outline:none;}

/* common style */
#campaign_wrap {min-width:1240px; overflow:hidden;}

section .inner_box {
    position:relative;
    width:1240px;
    height: inherit;
    margin:0 auto;
}

/* 작업용 */

section {
}
/* section 1 */
#section_01 {
    height: 1032px;
    background: url(../images/bg_section01.jpg) no-repeat center top #cef5ff;
}
#section_01 .btn_click{
    position: absolute;
    animation: ani_01 1s 0s infinite alternate-reverse;
}
#section_01 .btn_click:hover {
    background-position: 0 bottom !important;
}
#section_01 .btn_click::after {
    content: '';
    display: none;
    position: absolute;
    height: 98px;
}
#section_01 .btn_click:hover::after {
    display: block;
    z-index: 3;
}

#section_01 .btn_click:nth-child(1) {
    background: url(../images/사람.png) no-repeat 0 0;
    width: 85px;
    height: 201px;
    left: 760px;
    top: 810px;
    z-index: 1;
}
#section_01 .btn_click:nth-child(1):after {
    width: 198px;
    height: 98px;
    background: url(../images/btn_dialog_3.png) no-repeat;
    left: 8px;
    top: -97px;
}


#section_01 .btn_click:nth-child(3):after {
    width: 163px;
    height: 98px;
    left: -58px;
    top: -103px;
    background: url(../images/btn_dialog_1.png) no-repeat;
}

#section_01 .btn_click:nth-child(4):after {
    width: 163px;
    height: 98px;
    background: url(../images/btn_dialog_4.png) no-repeat;
    left: -54px;
    top: -103px;
    
}
#section_01 .btn_click:nth-child(5):after {
    width: 213px;
    height: 98px;
    background: url(../images/btn_dialog_5.png) no-repeat;
    left: -127px;
    top: -105px;
    

}

#section_01 .btn_click:nth-child(2) {
    background: url(../images/가게.png) no-repeat 0 0;
    width: 312px;
    height: 196px; 
    left: 816px;
    top: 620px;
}

#section_01 .btn_click:nth-child(2):after {
    width: 193px;
    left: 179px;
    top: -87px;
    background: url(../images/btn_dialog_2.png) no-repeat 0 0;
}

#section_01 .btn_click:nth-child(3) {
    background: url(../images/뉴스.png) no-repeat 0 0;
    width: 156px;
    height: 115px;
    top: 377px;
    left: 149px;

}
#section_01 .btn_click:nth-child(4) {
    background: url(../images/게시판.png) no-repeat 0 0;
    width: 180px;
    height: 159px;
    left: 347px;
    top: 726px;
}
#section_01 .btn_click:nth-child(5) {
    background: url(../images/분리수거.png) no-repeat 0 0;
    width: 210px;
    height: 99px;
    left: 293px;
    top: 911px;
}

/* section2 */
#section_02 {
    height: 350px;
    background: url(../images/bg_section02.jpg) no-repeat center top #cef5ff;
}
/* section3 */
#section_03 {
    height: 956px;
    background: url(../images/bg_section03.png) no-repeat center top #cef5ff;
}
#section_03 .slide {
    position: absolute;
    left: 168px;
    top: 295px;
    width: 953px;
    height: 530px;
}




/* slide contents */
#section_03 .slide .cont_01 {
    background: url(../images/slide01.png) no-repeat;
    height: 530px;
}
#section_03 .slide .cont_02 {
    background: url(../images/slide02.png) no-repeat;
    height: 530px;
}
#section_03 .slide .cont_03 {
    background: url(../images/slide03.png) no-repeat;
    height: 530px;
}
#section_03 .slide .cont_04 {
    background: url(../images/slide04.png) no-repeat;
    height: 530px;
}
#section_03 .slide .cont_05 {
    background: url(../images/slide05.png) no-repeat;
    height: 530px;
}
/* slide contents */
#section_03 .slide > div {
    position: relative;
}

#section_03 .slide.last .slick-arrow,
#section_03 .slide.last .slick-dots {display: none !important;}

#section_03 .slide.last::after {display: none !important;}

#section_03 .slide.last::before {display: none !important;}

#section_03 .slide .btn_click {
    position: absolute;
    height: 54px; 
    background-color: #009d4a; 

    transition:opacity 0.3s ease-in-out;
    opacity: 1;
    /*visibility: visible;*/
}
#section_03 .slide .btn_click::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    background: url(../images/cursor_arrow.png) no-repeat;
    width: 37px;
    height: 40px;
    
}
#section_03 .slide .btn_click.is_active {
    opacity: 0;
    visibility: hidden;
}

.cont_01 .btn_click {
    width: 117px;
    left: 438px;
    top: 119px;
}
.cont_02 .btn_click {
    width: 226px;
    left: 438px;
    top: 119px;
}
.cont_03 .btn_click {
    width: 90px;
    left: 570px;
    top: 119px;
}
.cont_04 .btn_click {
    width: 162px;
    left: 439px;
    top: 119px;
}
.cont_05 .btn_click {
    width: 88px;
    left: 438px;
    top: 119px;
}
.cont_05 .btn_getbean {
    position: absolute;
    left: 438px;
    bottom: 50px;
    width: 465px;
    height: 82px;
    background: url(../images/get_bean_disabled.png) no-repeat;
}
.cont_05 .btn_getbean button {
    display: none;
    width: inherit;
    height: inherit;
    background: url(../images/get_bean_able.png) no-repeat;
}

/* slick */

/* slick dot 비활성화 */
#section_03 .slide::before {
    content: '';
    position: absolute;
    width: 90px;
    height: 10px;
    left: 813px;
    bottom: 50px;
    z-index: 3;
}
/* arrow 비활성화 */
#section_03 .slide:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 49px;
    background: url(../images/arrow.png) no-repeat;
    background-position: right bottom;
    left: 500px;
    bottom: 51px;
    z-index: 2;
}
#section_03 .slick-arrow {
    position: absolute;
    left: 440px;
    top: 430px;
    background: url(../images/arrow.png) no-repeat;
    width: 60px;
    height: 49px;
    font-size: 0;
    z-index: 1;
}
/* arrow custom */
/* 기본상태 */
#section_03 .slick-arrow.slick-prev {
    background-position: left top;
    left: 440px;
}
#section_03 .slick-arrow.slick-prev.slick-disabled {
    background-position: left bottom;
}
#section_03 .slick-arrow.slick-next {
    background-position: right top;
    left: 500px;
}

#section_03 .slide.next-available::after {
    display: none;
}
/* dots custom */
#section_03 .slick-dots {
    position: absolute;
    list-style: none;
    left: 813px;
    bottom: 50px;
}

#section_03 .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 0px;
    background: #d2d2d2;
    cursor: pointer;
    list-style: none;
}

#section_03 .slick-dots li.slick-active {
    background: #009d4a;
}

#section_03 .slick-dots li button {
    display: block;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

/* section4 */
#section_04 {
    height: 640px;
    background: url(../images/bg_section04.jpg) no-repeat center top #cef5ff;
}
/* section5 */

#section_05 {
    height: 2054px;
    background: url(../images/bg_section05.jpg) no-repeat center top #cef5ff;
}
#section_05 .event_box {
    position: absolute;
    top: 481px;
    left: 109px;
    width: 1039px;
    height: 1382px;
}

#section_05 .event_box .step01 {
    height: 431px;
}
#section_05 .event_box .step02 {
    height: 434px;
}
#section_05 .event_box .step03 {
    height: 517px;
}
#section_05 .event_box > div {
    position: relative;
}
#section_05 .event_box > div::before,
#section_05 .event_box > div::after {
    position: absolute;
    left: 0;
    top: 0;
    height: inherit;
    width: 100%;

    transition: 0.7s ease-in-out;
}
#section_05 .event_box > div::after {
    opacity: 0;
}
/* active class added */
#section_05 .event_box > div.is_open::before {
    opacity: 0;
}
#section_05 .event_box > div.is_open::after {
    opacity: 1;
}
#section_05 .event_box > div.is_active .btn_click {
    z-index: 1;
}
#section_05 .event_box .step01::before {
    content: '';
    background: url(../images/sec_05_cont.png) no-repeat;
    background-position: 0 0px;

}
#section_05 .event_box .step02::before  {
    content: '';
    background: url(../images/sec_05_cont.png) no-repeat;
    background-position: 0 -431px;
}
#section_05 .event_box .step03::before {
    content: '';
    background: url(../images/sec_05_cont.png) no-repeat;
    background-position: 0 -865px;
}

#section_05 .event_box .step01::after {
    content: '';
    background: url(../images/sec_05_cont.png) no-repeat;
    background-position: 0 -1382px;
}
#section_05 .event_box .step02::after {
    content: '';
    background: url(../images/sec_05_cont.png) no-repeat;
    background-position: 0 calc(-431px - 1382px);
}
#section_05 .event_box .step03::after {
    content: '';
    background: url(../images/sec_05_cont.png) no-repeat;
    background-position: 0 calc(-865px - 1382px);
}
/* event box items */
#section_05 .event_box .btn_click {
    position: absolute;
}
#section_05 .event_box .step01 .btn_click {
    left: 322px;
    top: 69px;
    width: 86px;
    height: 288px;
    background: url(../images/step1.png) no-repeat;
    background-image: 0 0;    
}

#section_05 .event_box .step01 .btn_click:hover {
    background-position: 0 -288px;
}

#section_05 .event_box .step02 .btn_click {
    left: 745px;
    top: 63px;
    width: 134px;
    height: 119px;
    background: url(../images/step2.png) no-repeat;
    background-position: 0 0;
}
#section_05 .event_box .step02 .btn_click:hover {
    background-position: 0 -119px;
}

#section_05 .event_box .step03 .btn_click {
    left: 275px;
    top: 68px;
    width: 168px; 
    height: 258px;
    background: url(../images/step3.png) no-repeat;
    background-position: 0 0;
}
#section_05 .event_box .step03 .btn_click:hover {
    background-position: 0 -258px;
}

#section_05 .event_box > div.is_active .btn_click::after {
    content: '';
    position: absolute;
    width: 85px;
    height: 93px;
    background: url(../images/sec5_click.png) no-repeat 0 0;
    animation: fade-in-out 0.5s infinite alternate both;
}
#section_05 .event_box > div.is_active .btn_click:hover::after {
    display: none;
}
#section_05 .event_box .step01 .btn_click:after {
    left: 24px;
    top: 14px;
}
#section_05 .event_box .step02 .btn_click:after {
    left: 43px;
    top: 43px;
}
#section_05 .event_box .step03 .btn_click:after {
    left: 65px;
    top: 136px;
}

/* 콩버튼 */
#section_05 {
    position: relative;
}
#section_05 .btn_getbean {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 82px;
    border-bottom: 7px solid #acacac;
    background: url(../images/get_bean.png) no-repeat center center #b8b8b8;
}
#section_05 .btn_getbean button {
    display: none;
    position: absolute;
    width: inherit;
    height: inherit;
    border-bottom: 7px solid #009345;
    background: url(../images/get_bean.png) no-repeat center center #009d4a;
}
#section_05 .btn_getbean.is_active button {
    display: block;
}

/* section6 */
#section_06 {
    height: 556px;
    background: url(../images/bg_section06.jpg) no-repeat center top #cef5ff;
}
/* section7 */
#section_07 {
    height: 1832px;
    background: url(../images/bg_section07.jpg) no-repeat center top #cef5ff;
}
#section_07 .link_only {
    position: absolute;
    left: 579px;
    top: 964px;
    width: 270px;
    height: 62px;
}
/* section contribution */
#section_contribution {
    background: #f6f6f6;
}
/* section contribution */
#section_contribution {
    height: 400px;
}
#section_contribution .txt_box {
    position: absolute;
    top: 91px;
    left: 552px;
}
#section_contribution .txt_box .title {
    background: url(../images/text_contribution.png) no-repeat;
    width: 472px;
    height: 132px;
    margin-bottom: 20px;
}
#section_contribution .txt_box .amount {
    font-size: 20px;
    color: #444;
    letter-spacing: -0.050em;
}
#section_contribution .txt_box .amount strong {
    color: #37af4b;
    font-size: 48px;
    letter-spacing: -0.025em;
}

/* slick */
#section_contribution .slider {width:270px; position:absolute; left:175px; top:100px;}
#section_contribution .slider .slick-slide {height:198px; background:url(../images/contribution_img.png) 0 0 no-repeat;}
#section_contribution .slider .slick-slide a {display:block; height:198px;}
#section_contribution .slider .img_02 {background-position:-270px 0;}
#section_contribution .slider .img_03 {background-position:-540px 0;}
#section_contribution .slider .img_04 {background-position:-810px 0;}
#section_contribution .slider .img_05 {background-position:-1080px 0;}
#section_contribution .slider .slick-arrow {width:31px; height:51px; border:none; outline:none; cursor:pointer; background:url(../images/sprite_01.png) 0 0 no-repeat; position:absolute; top:50%; margin-top:-30px; z-index:1; font-size:0px;}
#section_contribution .slider .slick-prev {left:-50px; background-position:0 -289px;}
#section_contribution .slider .slick-next {right:-50px; background-position:-31px -289px;}
#section_contribution .slider .slick-disabled {cursor:default;}
#section_contribution .slider .slick-prev.slick-disabled {background-position:0 -238px;}
#section_contribution .slider .slick-next.slick-disabled {background-position:-31px -238px;}
#section_contribution .slider .slick-dots{display:block; width:100%; padding:0; margin:0; position:absolute; bottom:-37px; list-style:none; text-align:center;}
#section_contribution .slider .slick-dots li{display:inline-block; width:17px; height:17px; margin:0 5px; padding:0; cursor:pointer; position:relative;}
#section_contribution .slider .slick-dots li button{display:block; width:17px; height:17px; padding:5px; font-size:0; line-height:0; cursor:pointer; border-radius:17px; color:transparent; outline:none; background-color:#bababa; transition:all 0.3s;}
#section_contribution .slider .slick-dots li.slick-active button {background-color:#37af4b; border-radius:17px;}

/* section sns */
#section_sns {width:100%; background-color:#009d4a;}
#section_sns .inner_box {width:1240px; height:146px; margin:0 auto; position:relative;}
#section_sns .sns_box {position:absolute; left:175px; top:39px; overflow:hidden;}
#section_sns .sns_box li {width:69px; height:69px; float:left; margin-left:30px; cursor:pointer; background:url(../images/sprite_01.png) no-repeat;}
#section_sns .sns_box li a {display:block; width:69px; height:69px;}
#section_sns .sns_box li:first-child {margin-left:0px;}
#section_sns .sns_box .btn_band{background-position:0 -169px;}
#section_sns .sns_box .btn_twitter{background-position:-69px -169px;}
#section_sns .sns_box .btn_facebook{background-position:-138px -169px;}
#section_sns .sns_box .btn_kakaostory{background-position:-207px -169px;}
#section_sns .comment {width:514px; height:27px; position:absolute; left:587px; top:59px; background:url(../images/sns_txt.png) 0 0 no-repeat; z-index: 1;}

#section_comment .conts_box {
    background: url(../images/sec_comment.png) no-repeat 0 00;
    height: 365px;
}

/* animation */
@keyframes ani_01 { 
	0%{transform: translateY(10px);} 
	100%{transform: translateY(0px);} 
}

/* popup */
#popup_all > div {display:table; width:100%; height:100%; position:fixed; left:0px; top:0px; z-index:150;}
#popup_all .bg {width:100%; height:100%; position:absolute; left:0px; top:0px; background-color:#000; filter:alpha(opacity=70); opacity:0.7;}
#popup_all .out_layer_box {display:table-cell; text-align:center; vertical-align:middle;}
#popup_all .in_layer_box {display:inline-block; width:580px; position:relative; z-index:10;}
#popup_all .btn_close {display:inline-block; width:38px; height:38px; position:absolute; right:0px; top:-50px; background:url(../images/sprite_01.png) 0 0 no-repeat; background-position: -62px -238px;}
#popup_all .btn_confirm {display:inline-block;}

#popup_bean_count .btn_confirm,
#popup_10min .btn_confirm,
#popup_end .btn_confirm,
#popup_already .btn_confirm,
#popup_login .btn_confirm {width:186px; height:65px; line-height:65px; background-color:#37af4b; color:#fff; border-radius:4px; font-size:26px; letter-spacing:-0.05em;}

#popup_bean_count .in_layer_box {padding-bottom:50px; background-color:#fff; border-radius:2px; text-align:center;}
#popup_bean_count .title {margin-bottom:40px; padding:140px 0 30px; border-radius:2px 2px 0 0; background: url(../images/popup_logo.png) center 35px no-repeat #ebebeb; font-size:30px; line-height:54px; letter-spacing:-0.05em; color:#333; font-weight:400;}
#popup_bean_count .txt {margin-bottom:20px; font-size:30px; line-height:42px; color:#444; letter-spacing:-0.05em;}
#popup_bean_count .txt span {display:inline-block; color:#37af4b; border-bottom:solid 2px #37af4b;}
#popup_bean_count .comment {margin-bottom:20px;}
#popup_bean_count .comment span {display:inline-block; width:420px; height:54px; background-color:#f6f6f6; line-height:54px; font-size:22px; color:#666; letter-spacing:-0.05em;}
#popup_bean_count .comment strong {display:inline-block; margin-left:45px; color:#37af4b; font-weight:400;}
#popup_bean_count .btn_go_happybean {margin-bottom:45px;}
#popup_bean_count .btn_go_happybean a {font-size:18px; color:#666; border-bottom:solid 1px #666;}
#popup_bean_count .btn_go_happybean a em {font-size:12px; position:relative; top:-2px;}

#popup_10min .in_layer_box {padding:50px 0; background-color:#fff; border-radius:2px; text-align:center;}
#popup_10min .title {margin-bottom:30px; font-size:30px; color:#444; letter-spacing:-0.05em; font-weight:400;}
#popup_10min .txt_01 {margin-bottom:30px; font-size:20px; line-height:32px; color:#444; letter-spacing:-0.05em; font-weight:300;}
#popup_10min .txt_01 span {color:#37af4b;}
#popup_10min .txt_02 {margin-bottom:30px; font-size:20px; line-height:32px; color:#444; letter-spacing:-0.05em; font-weight:300;}
#popup_10min .btn_ask {margin-top:20px;}
#popup_10min .btn_ask a {display:inline-block; font-size:16px; color:#444; letter-spacing:-0.025em;}

#popup_end .in_layer_box {padding:60px 0; background-color:#fff; border-radius:2px; text-align:center;}
#popup_end .txt_box {margin-bottom:20px; font-size:30px; color:#444; line-height:44px; letter-spacing:-0.05em;}

#popup_already .in_layer_box {padding:60px 0; background-color:#fff; border-radius:2px; text-align:center;}
#popup_already .txt_box {margin-bottom:20px; font-size:30px; color:#444; line-height:44px; letter-spacing:-0.05em;}

#popup_login .in_layer_box {padding:60px 0; background-color:#fff; border-radius:2px; text-align:center;}
#popup_login .txt_box {margin-bottom:20px; font-size:30px; color:#444; line-height:44px; letter-spacing:-0.05em;}

@keyframes fade-in-out {
    0%{
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}