.inner_box {
  position: relative;
  width: 1240px;
  height: inherit;
  margin: 0 auto;
  color: blue; }

#section_01 {
  height: 1032px;
  background: url(../images/bg_section01.jpg) no-repeat;
  background-position: top center; }

#section_02 {
  height: 350px;
  background: url(../images/bg_section02.jpg) no-repeat;
  background-position: top center; }

#section_03 {
  height: 956px;
  background: url(../images/bg_section03.png) no-repeat;
  background-position: top center; }

#section_04 {
  height: 640px;
  background: url(../images/bg_section04.jpg) no-repeat;
  background-position: top center; }

#section_05 {
  height: 2054px;
  background: url(../images/bg_section05.jpg) no-repeat;
  background-position: top center; }

#section_06 {
  height: 556px;
  background: url(../images/bg_section06.jpg) no-repeat;
  background-position: top center; }

#section_07 {
  height: 1832px;
  background: url(../images/bg_section07.jpg) no-repeat;
  background-position: top center; }

#section_contribution {
  height: 400px;
  background: #f6f6f6; }

#section_sns {
  height: 146px;
  background: #009d4a; }
